<div class="container">
<h1>Dibuja en la imagen seleccionada</h1>
<div class="containerImg">
    <img src="assets/show.jpg" class="img">
    <canvas #sPad width="512" height="512" style="touch-action: none; position:absolute"></canvas>
</div>
<div class="buttons">
    <button mat-raised-button class="changeImg" (click)="changeComponent('paint')" class="buttonChangeImage">Cambiar imagen</button>
    <button mat-raised-button class="next" (click)="saveJPG()" class="buttonNextPage">Cargar modelo</button>
</div>
</div>