


.buttons{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonChangeImage{
    margin-right: 10px;
}
.buttonNextPage{
    background-color: teal;
    color: white;
}
button{
    width: 140px;
}
.containerImg{
    border-style: solid;
    border-color: rgb(223, 221, 221);
    width: 550px;
    height: 550px;
    
}
.mat-simple-snackbar-action {
    color: teal !important;
}