
span{
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.title{
    margin-top: 0;
    margin-left: 10px;
    color: white;
}
.buttons{
    width: 50%;
    display: flex;
    flex-direction: row;
    line-height: 10px;
    margin-bottom: 50px;
}
.changeImg{
    margin-right: 10px;
}
.next{
    color: white;
    background-color: teal;
}

.containerImg{
    
    margin-bottom: 50px;
    cursor: pointer;
}

.icono{
    color: rgb(207, 204, 204);
    font-size: 40px;
}
.image{
    width: 512px;
    height: 512px;
}