

<div class="container">
    <h1>Seleccione una imagen</h1>
    <span>Asegúrese de que sea la imagen correcta, en caso contrario puede cambiar la imagen</span>
    <div class="containerImg" (click)="chooseImage()">
        <mat-icon class="icono" *ngIf="state==false">vertical_align_top</mat-icon>
            <div>
            <img src={{imageSrc}} *ngIf="state" class="image" #img>
            
        </div>
        <input type="file" (change)="getUrl($event)" id="input" style="display: none;">
    </div>
   
    <div *ngIf="state" class="buttons">
        <button mat-raised-button class="changeImg" (click)="changeState()">Cambiar imagen</button>
        <button mat-raised-button class="next" (click)="changeComponent()">Siguiente</button>
    </div>
</div>
