<div class="container">
    <h1>Resultados del modelo</h1>
    
    <div class="containerDivs">
        <div>
            <div class="containerImg containerRight">
                <img src="assets/show.jpg">
            </div>
            <h2>Original</h2>
        </div>
        
        <div>
            <div class="containerImg containerRight">
                <img src="assets/maskedImg.jpg">
            </div>
            <h2>Máscara</h2>
        </div>

        <div>
            <div class="containerImg">
                <img [src] = "resultImg" [style.display] = "display">
            </div>
            <div class="waitingDiv" ><h2 [style.color] = "color">{{resultLabel}} </h2><h2>{{points}}</h2></div>
        </div>
        
    </div>
    <div class="buttons">
        <button mat-raised-button (click)="tryAgain()" class="buttonAgain">Volver a intentar</button>
    </div>
</div>
