.containerDivs{
    flex-direction: row;
}
.containerRight{
    margin-right: 20px;
}
h1{
    font-size: 30px;
    margin-bottom: 20px;
}
h2{
    margin-top: 18px;
}
.buttons{
    margin-top: 50px;
    margin-bottom: 50px;
}
.waitingDiv{
    flex-direction: row;
}
p{
    color: teal;
    font-size: 20px
}
.containerImg{
    border-color: rgba(223,221,221, 255);
    
}