.title{
    font-size: 30px;
    margin-top: 0;
    margin-left: 16px;
    color: white;
}
header{
    margin-top: 0;
    padding: 0px;
    background-color: teal;
}

h1{
    margin-top: 30px;
    line-height: 50px;
    margin-bottom: 30px;
}
