/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
    width: 140px;
}

div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 5%;
}
.containerImg{
    border-style: solid;
    border-color: rgb(223, 221, 221);
    width: 550px;
    height: 550px;
    
}
img{
    width: 512px;
    height: 512px;
}